.result-list { margin-bottom: 20px;}
.item-flags {}
.item-flags img { display: inline-block;}
.items-edit { padding: 20px; }    
.validationMessage { display: none; }
.has-error { outline: none; border: 1px solid #a94442; box-shadow: 0 0 10px #a94442;}